---
layout: default
title: Author
cover: 'assets/images/the6ix.jpg'
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/logo.png'
current: author
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #author tags pulls data from the author -->
<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {% endif %}
        </nav>
    </header>

    <section class="author-profile inner">
        {% if site.image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ site.author }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ site.author }}</h1>
        {% if site.bio %}
            <h2 class="author-bio">{{ site.bio }}</h2>
        {% endif %}
        <div class="author-meta">
            {% if site.linkedin %}<span class="author-link icon-link"><a href="{{ site.linkedin }}">{{ site.short_linkedin }}</a></span>{% endif %}
            <!-- <span class="author-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->  
        </div>
    </section>
<!-- /author -->

<section class="author-profile inner">
    <h2 class="author-bio"> Born in Hamilton, Ontario, Canada on November 10, 1993, Thomas is a graduate of the Engineering Science program at the University of Toronto and a future MBA candidate through the 2+2 program at Harvard Business School. He is a creative designer, a proficient engineer and an ambitious entrepreneur.</h2>
    <!--<h2 class="author-bio">As an enginner at Toyota and Tesla, Thomas was trained in lean operations and innovation. He was the youngest member of the S/X Line and Model X project teams at Tesla, responsible for enabling a production capacity of approximately 200,000 Model S and Model X vehicles per year.</h2>
    <h2 class="author-bio">But these accomplishments don't tell the whole story. It's Thomas' inherent ability to lead that has him poised for greater heights. He has an undeniable capability to understand and inspire others - qualities that got him voted valedictorian of his highschool class.</h2>-->
    <h2 class="author-bio">With his entire career ahead of him, Thomas is driving toward a legacy that both he and the world can be proud of. We'll just have to wait and see what form that takes...</h2>
</section>

